$bg-app: #ccc;
$bg-header: #101010;
$bg-light: #e6e6e6;
$bg-lighter: #eee;
$bg-dropdown: #f1f1f1;
$bg-time: #f6f6f6;

$c-font: #333;
$c-grey: #989898;
$c-white: #fff;
$c-dark: #2c2c2c;
$c-black: #000;
$c-blue: #009cff;
$c-dropdown-after: #878787;