.container {
    width: 1200px;
    margin: 0 auto;
}

.no-select {
    text-transform: uppercase;
    color: $c-grey;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.btn {
    display: inline-block;
    min-width: 150px;
    min-height: 35px;
    cursor: pointer;
}