$font: 'Lato';
$blue-color: #009cff;
@mixin flex {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {

}

#container {
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;

  .header {
    &:after {
      content: "";
      width: 100%;
      height: 200px;
      background: #101010;
      position: fixed;
      top: 0;
      left:0;
      z-index: -1;
    }

    &-row-1 {
      display: flex;
      justify-content: flex-end;

      ul li {
        display: inline-block;
        margin-right: 20px;

        i {
        color: $blue-color;
          margin-right: 10px;
        }
      }
    }

    &-row-2 {
      color: #fff;
    }
  }
}